html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Andale Mono', AndaleMono, monospace;
}

@media screen and (min-width: 25em) {
    /* Custom pure-u-xsm-* */
}

body {
  font-size: 1.4em;
  font-family: 'Times New Roman';
  background:url(/images/water.jpg);
  background-size:cover;
  background-position: top center;
}

a {
  color:white;
  text-decoration:none;
  cursor:pointer;
}

nav li {
  padding: 0.5em 0;
}


.front {
  font-family: 'Andale Mono', AndaleMono, monospace;
  text-align:center;
  color:white;
}

.front a:hover {
  text-decoration:underline;
}


#title {
  width:80%;
  margin: 0 auto;
  padding-top: 2.6em;
}

.boxed {
  border: 2px solid white;
  padding: 0em 0.1em 0.1em 0.2em;
}

.photoattribution {
  font-size:0.6em;
  margin:0;
  position:absolute;
  bottom: -10.6em;
  right: 1em;
}

.cc, .cc:hover {
  font-size:1em;
  text-decoration: none;
  position:relative;
  top: 10.13em;
}

@media screen and (min-width: 35.5em) {
  .photoattribution {
    bottom: 0.5em;
  }
  .cc, .cc:hover {
    top: 0.13em;
  }
}

.background, .background .pure-g [class *= "pure-u"] {
  background:cyan;
  font-family: 'Times New Roman';
}

.background a {
  color: blue;
}

.projects {
  background:#f82ae0;
}


